/* .card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	cursor: pointer;
	padding: 1rem;
	max-width: 18rem;
	max-height: 24rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%), 0 8px 8px rgb(0 0 0 / 10%), 0 16px 16px rgb(0 0 0 / 10%);
} */