@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
	@apply bg-black
}

@layer base {
  @font-face {
    font-family: DIN;
    font-weight: 400;
    src: url(/fonts/D-DIN.woff2) format("woff2");
  }
  @font-face {
    font-family: DIN Bold;
    font-weight: 500;
    src: url(/fonts/D-DIN-Bold.woff2) format("woff2");
  }
}

.link-btn {
	@apply block max-w-[6rem] pr-4 text-center text-gray-400 hover:text-white underline underline-offset-2
}

.rocket-info-key {
	@apply block text-gray-400 w-32
}