@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
	@apply bg-black
}

@layer base {
  @font-face {
    font-family: DIN;
    font-weight: 400;
    src: url(/fonts/D-DIN.woff2) format("woff2");
  }
  @font-face {
    font-family: DIN Bold;
    font-weight: 500;
    src: url(/fonts/D-DIN-Bold.woff2) format("woff2");
  }
}
.common-link {
	@apply block text-gray-800 dark:text-gray-400 px-2 py-4 hover:text-black hover:dark:text-white underline underline-offset-2
}

.link-btn {
	@apply block max-w-[6rem] pr-4 text-center text-gray-800 dark:text-gray-400 hover:text-black hover:dark:text-white underline underline-offset-2
}

.info-key {
	@apply block text-gray-800 dark:text-gray-400 w-36
}

.info-value {
	@apply block text-gray-800 dark:text-gray-400
}

.btn {
	@apply h-8 mr-6 leading-8 w-20 border-2 border-slate-800 dark:border-gray-400 hover:text-orange-500 hover:border-orange-500 dark:hover:border-orange-500 duration-100 rounded
}